<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleName</key><string>Articulate 360</string>
  <key>CFBundleDisplayName</key><string>Articulate 360</string>
  <key>CFBundleIdentifier</key><string>com.elearningfreak.articulate360.wine</string>
  <key>CFBundleVersion</key><string>1.125.37980.0</string>
  <key>CFBundleShortVersionString</key><string>1.125</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleExecutable</key><string>Articulate 360</string>
  <key>CFBundleIconFile</key><string>Articulate360</string>
  <key>LSMinimumSystemVersion</key><string>15.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSMicrophoneUsageDescription</key><string>Articulate 360 apps record narration and screen recordings with your microphone.</string>
  <key>NSCameraUsageDescription</key><string>Articulate 360 apps record webcam video with your camera.</string>
</dict></plist>
